In [2]:
#Unit 01
---
Date: 2017-02-09

SyntaxError: invalid syntax (<ipython-input-2-98106622e810>, line 2)

# Unit 01
---
Date: 2017-02-09

In [3]:
#sum_square

In [7]:
#sum_square : calculate square of sum of 2 numbers
54+73

127

**+**is an addition operator

In [9]:
127**2

16129

__\*\*__ is a power

In [13]:
first_num = 59
second_num = 87

**first_num** and **second_num** are called a vairables.

In [15]:
square_of = (first_num + second_num)**2

In [17]:
print (square_of)

21316

In [18]:
# 3.14 is a float
pi = 3.14

In [19]:
area_of_circle = 2 * pi * (3**2)

In [20]:
print (area_of_circle)

56.52

Python automatically converts **integers** (like *2* and *3* above) to **float** (like *3.14*)
Such conversions are called type conversion (or *type casting*)

In [25]:
name = 'Harry Potter'

In [23]:
address = "London"

In [26]:
name + address

'Harry PotterLondon'

adding 2 strings together is called **Concatenation**

In [27]:
name * address

TypeError: can't multiply sequence by non-int of type 'str'

*cant multiply string by string or float..*

In [29]:
name * 4

'Harry PotterHarry PotterHarry PotterHarry Potter'

    In case of string, * is called repitation operator.

In [31]:
78 - 90

-12

In [32]:
30 - 12.2

17.8

In [33]:
# Division
2/3

0.6666666666666666

- Real Division

In [34]:
2//3

0

- Integer Division

In [37]:
float (2)

2.0

- Explicit Conversion

In [38]:
int (3.9)

3

- Implicit Conversion

In [39]:
str (2)

'2'

To change a integer to a string

In [40]:
8 % 3

2

- Remainder Operator

**H/W**
- Addition
- Subtraction
- Division
    - Float
    - Integer
- Remainder
- Power